.search-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
}
.search__input{
  width: 400px;
  padding: 10px;
  outline: none;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  box-shadow: 1px 1px 1px #e3e3e3;
}
.search__btn{
  border: none;
  cursor: pointer;
  background-color: #58B2DC;
  color: #fff;
  border-radius: 8px;
}
